<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
</head>

<div id="welcomeWrapper">
<p>Hi <%= user.username %>!</p>
<p>Lost in the sauce since: <%= user.createdAt %></p>
</div>
<div>
    <button onclick="window.location.href='/auth/login'">See what&apos;s new</button>
    <button onclick="window.location.href='/auth/profile'">Your Profile</button>
    
</div>
<h2>Sauces added by me</h2>
<% mySauces.forEach(sauce => { %>
<div style="border: 1px solid black; margin:10px;padding:10px;">
    <p><a href="/sauces/<%= sauce._id %>"><%= sauce.name %></a></br>
    <span>By <%= sauce.manufacturer %></span></p>

    <a href="/sauces/<%= sauce._id %>/edit"><button>Edit</button></a> 
    <a href="/sauces/<%= sauce._id %>/delete"><button>Delete</button></a> 
</div>
<% }) %>