<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
</head>


    
<h2>
    <% if (myUser.avatar) { %>
        <img src="<%= myUser.avatar %>" width="30" style="margin-right:30px;">
    <% } %>
    Hello <%= myUser.username %>!</h2>

<p><b>Lost in the sauce since:</b> <%= user.createdAt %>
<p><b>Sauces added:</b> <%= updatedMySauces.length %></p>
<p><b>Bio:</b> <%= myUser.bio %></p>


</p>

<div>
    <button onclick="window.location.href='/sauces'">See what&apos;s new</button>
    <button onclick="window.location.href='/auth/profile/edit'">Edit Your Profile</button>
    
</div>
<h2>Sauces added by me</h2>
<% updatedMySauces.forEach(sauce => { %>
<div style="border: 1px solid black; margin:10px;padding:10px;width:350px;">
    <a href="/sauces/<%= sauce._id %>"><img src="<%= sauce.image %>" width="50"></a>
    
    <p><a href="/sauces/<%= sauce._id %>"><%= sauce.name %></a></br>
    <span style="font-size:12px;">By <%= sauce.manufacturer %></span></br>
    <span style="font-size:12px;">Added: <%= sauce.created %></span></p>

    <a href="/sauces/<%= sauce._id %>/edit"><button>Edit</button></a> 
    <a href="/sauces/<%= sauce._id %>/delete"><button>Delete</button></a> 
</div>
<% }) %>

<h2>Reviews added by me</h2>
<p>Coming soon</p>