<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
</head>

<div id="profileContainer">
  <div id="sauceInfo">
    <div id="profileContent">
<h2>
    <% if (myUser.avatar) { %>
        <img src="<%= myUser.avatar %>" width="30" style="margin-right:30px;">
    <% } %>
    Hello <%= myUser.username %>!</h2>
<div id="bioContent">
<p><b>Lost in the sauce since:</b> <%= user.createdAt %></p>
<p><b>Level: </b>

<% if (updatedMySauces.length > 500) { %>
Spice Lord <img src="https://cdn-icons-png.flaticon.com/128/5136/5136942.png" width="20">
<% } else if (updatedMySauces.length > 10) { %>
Advanced <img src="https://cdn-icons-png.flaticon.com/128/5014/5014991.png" width="20">
<% } else if (updatedMySauces.length > 5) { %>
    Intermediate <img src="https://cdn-icons-png.flaticon.com/128/3813/3813071.png" width="20">
    <% } else if (updatedMySauces.length === 0) { %>
        Intermediate <img src="https://cdn-icons-png.flaticon.com/128/3813/3813071.png" width="20">
<% } %>
 
    
</p>

<p><b>Sauces added:</b> <%= updatedMySauces.length %></p>
<p><b>Bio:</b> <%= myUser.bio %></p>
</div>




<div>
    <button id="profileButton" onclick="window.location.href='/sauces'">See what&apos;s new</button>
    <button id="profileButton" onclick="window.location.href='/auth/profile/edit'">Edit Your Profile</button>
    
</div>
</div>
<hr>
<div id="buffer"></div>
<div id="sauceInfo">
<h2>Sauces added by me</h2>
<div id="rowContainer">


<% if (updatedMySauces.length !== 0) { %>
    <% updatedMySauces.forEach(sauce => { %>
        <div style="border: 2px solid rgba(230, 230, 230, 0.75); border-radius: 8px; margin:10px;padding:10px;width:350px;">
            <a href="/sauces/<%= sauce._id %>"><img src="<%= sauce.image %>" width="50"></a>
            
            <p><a href="/sauces/<%= sauce._id %>"><%= sauce.name %></a></br>
            <span style="font-size:12px;">By <%= sauce.manufacturer %></span></br>
            <span style="font-size:12px;">Added: <%= sauce.created %></span></p>
        
            <a href="/sauces/<%= sauce._id %>/edit"><button id="editDeleteButton">Edit</button></a> 
            <a href="/sauces/<%= sauce._id %>/delete"><button id="editDeleteButton">Delete</button></a> 
        </div>
        <% }) %>
<% } else { %>
<p>No sauces added yet. <a href="/sauces/add">Add your first sauce</a></p>
<% } %>
</div>

<div id="buffer"></div>

    <hr>
    <h2>Reviews added by me</h2>
    <div id="rowContainer">

<% if (myReviews.length !== 0) { %>
    <% myReviews.forEach(review => { %>
        <div style="border: 2px solid rgba(230, 230, 230, 0.75); border-radius: 8px; margin:10px;padding:10px;width:350px;">
            <a href="/sauces/<%= review.sauce._id %>"><img src="<%= review.sauce.image %>" width="50"></a>
    
            <p><a href="/sauces/<%= review.sauce._id %>"><%= review.sauce.name %></a></br>
                <p>Spice: <%= review.spiceLevel %></br>
                <p>Rating: <%= review.rating %></br>
                <p>Review: <%= review.review %></br>
            <a href="/sauces/"><button id="viewReviewButton">View review</button></a> 
        </div>
        <% }) %>
<% } else { %>
<p>No reviews added yet</p>
<% } %>

</div>
</div>
