<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
  </head>
<div id="addContainer">
    <div id="headerWrapper">
<h1>Add Sauce</h1>
</div>
<p>Type in the hot sauce you would like to add to check if it already exists in our database</p>
<form id="addSauceSearchForm" action="/sauces/add" method="POST">
    <label>
    <input type="text" name="name"/>
    <button id="submitLogin"type="submit">Continue</button>
    </label>

</form>
</div>

<% if (typeof errorMessage !== 'undefined' ) { %>
    <p id="errorMessage" style="color: red"><%= errorMessage %></p>

    <% if (errorCode == 0) { %>
        
        
        <div style="display:flex;flex-wrap: wrap;">
            <% sauceMatch.forEach(sauce => { %>

            <div id="cardBody" class="card" style="width: 10rem;margin:10px;">
                <a id="sauceImage" href="<%= sauce._id %>"><img id="sauceImage" src="<%= sauce.image %>" class="card-img-top" alt="<%= sauce.name %>" width="30"></a>
                <div class="card-body">
                <h5 class="card-title">
                    <%=sauce.name%>
                </h5>
                </div>
            </div>

            <% }) %>
        </div>

        <% } %>
    <% } %>

   