<head>
    <script src="https://kit.fontawesome.com/c1ddb9b33f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;300;600;800&family=Sofia+Sans+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
  </head>
<div id="deleteSauceForm">
  

<form action="/sauces/<%= editedSauceInfo._id %>/delete" method="post">
    <h2>Are you sure you want to delete the below sauce?</h2>
    <div>
<a href="/sauces/<%= editedSauceInfo._id %>/delete"><button id="deleteSauceFormButtons">YES, DELETE SAUCE</button></a> 
</form>
<a href="/sauces/<%= editedSauceInfo._id %>/edit"><button id="deleteSauceFormButtons">NO, Just EDIT SAUCE</button></a> 
</div>



<div id="deleteSauceInfo">
    <img id="deleteSauceIMG" src="<%= editedSauceInfo.image %>" width="300">
    <p><span class="bold">Name: </span><%= editedSauceInfo.name %></p>
    <p><span class="bold">Ingredients: </span><%= editedSauceInfo.ingredients %></p>
    <p><span class="bold">Peppers: </span><%= editedSauceInfo.peppers %></p>
    <p><span class="bold">Description: </span><%= editedSauceInfo.description %></p>
    <p><span class="bold">Scoville: </span><%= editedSauceInfo.scoville %></p>
    <p><span class="bold">Origin Country: </span><%= editedSauceInfo.originCountry %></p>
    <p><span class="bold">Manufacturer: </span><%= editedSauceInfo.manufacturer %></p>
    <p><span class="bold">Added By: </span><%= editedSauceInfo.addedBy.username %></p>
    <p><span class="bold">Buy this sauce: </span><a href="<%= editedSauceInfo.link %>" target="_blank">Website</a></p>

   


</div>
</div>

